


<footer>
    
    <ul class="social-icons">
        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>

        <p>Derechos reservados ©2023 </p>
    </ul>

    <div class="contact">
        <li><a href="#"><i class="fas fa-phone"></i></a>45698765</li>
        <li><a href="#"><i class="fab fa-whatsapp"></i></a>1564624078</li>
        <li><a href="#"><i class="fas fa-envelope"></i></a>tecnologiadecalidad@hotmail.com</li>
    </div>
</footer>